<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPasswordServlet</servlet-name>
        <servlet-class>com.nbs.servlet.resetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.nbs.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.nbs.servlet.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redirect</servlet-name>
        <servlet-class>com.nbs.servlet.redirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managementServlet</servlet-name>
        <servlet-class>com.nbs.servlet.managementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDataServlet</servlet-name>
        <servlet-class>com.nbs.servlet.getDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertCustomerServlet</servlet-name>
        <servlet-class>com.nbs.servlet.insertCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NicGenarator</servlet-name>
        <servlet-class>com.nbs.servlet.NicGenarator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertLoanServlet</servlet-name>
        <servlet-class>com.nbs.servlet.insertLoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPawnResons</servlet-name>
        <servlet-class>com.nbs.servlet.getPawnResons</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPasswordServlet</servlet-name>
        <url-pattern>/resetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirect</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managementServlet</servlet-name>
        <url-pattern>/managementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDataServlet</servlet-name>
        <url-pattern>/getDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertCustomerServlet</servlet-name>
        <url-pattern>/insertCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NicGenarator</servlet-name>
        <url-pattern>/NicGenarator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertLoanServlet</servlet-name>
        <url-pattern>/insertLoanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPawnResons</servlet-name>
        <url-pattern>/getPawnResons</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
